*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem; /* 21px*/
}

.main
{
    padding: 100px 0;
    background-color: #23424a;
    color: #fff;
}

.main__text {
    width: 60%;
    margin-right: 10%;
}

.main__img {
    width: 30%;
    align-self: flex-start;
}

.main__img img { 
    max-width: 100%; 
}

.container
{
    width: 80%;
    margin: 0 auto;
}

.main__text h1 {
    font-size: 3rem;
    margin-top: 0;
}

.main__text p {
    margin-bottom: 3em;
}

.main__button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #38CFD9;
    padding: 0.8em 2em;
    color: black;
    border-radius: 100px;
}

.main__button:hover,
.main__button:focus {
    opacity: 0.75
}

.row {
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
}

.col {
    margin: 3em 0;
    text-align: center;
    width: 100%;
}

.col h2 {
    font-size: 1.75em;
}

.three-col {
    color: #87629A;
}

.two-col {
    background-color: #136C72;
    color: white; 
}