*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem; /* 21px*/
}

.container
{
    padding: 100px 0;
    background-color: #23424a;
    color: #fff;
}

.content
{
    width: 80%;
    margin: 0 auto;
    border: 1px solid yellow;
}

.content__text {
    width: 60%;
    border: 1px solid pink;
}

.content__text__intro {
    font-size: 3rem;
}

.content__text__detail {
    margin-bottom: 3em;
}

.content__button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #38CFD9;
    padding: 0.8em 2em;
    color: black;
    border-radius: 100px;
}

.content__button:hover,
.content__button:focus {
    opacity: 0.75
}